body {
  background-image: url(wall.jpg);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 0;
	grid-gap: 10px;
	border-radius: 10px;
}

a {
	text-decoration: none;
	list-style: none;
	color: LightSlateGrey;
}

.header a:hover {
	color: white;
}
		
li {
	font-family: Apple Chancery, cursive;
	background: WhiteSmoke;
	padding: 25px;
	text-align: center;
	list-style: none;
	font-size: 25px;
	border: 5px grey solid;
	font-weight: bold;
	box-shadow: 5px 10px 8px lightgrey;
	border-radius: 15px;
}
	
.header li:hover {
	background-color: LightSteelBlue;
	border: 5px white solid;
}

h1 {
	margin-top: 80px;
	font-size: 120px;
	color: SlateGrey;
	font-family: Curlz MT, Harrington, fantasy;
	font-weight: bold;
}

h1:hover {
	background: linear-gradient(to right, HotPink 0%, DarkCyan 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

p {
	font-family: Lucida Calligraphy;
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 20px;
	color: DimGrey;
	font-weight: bold;
	margin-bottom: 30px;
}

p:hover {
	background: linear-gradient(to right, royalblue 0%, salmon 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.footer {
	padding: 40px;
	background-image: url(flower.jpg);
	border-radius: 10px;
	border: 5px SeaShell solid;
	box-shadow: 5px 5px 5px grey;
}
